@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /*Establishing things like colors in the root makes them easier to reference throughout the document. This is usefull if you're going for a uniform color scheme.*/
  --background-color: #101010;
  --light-background: #1d1d1d;
  --accent-color: #a7c957;
  --text-color: #d3d3d3;
  --placeholder-text: #4d4d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

body {
  background-color: var(--background-color);
  height: 100%;
  margin: 40;
  overflow: hidden;
}

::placeholder {
  color: var(--placeholder-text);
}

.main-navigation {
  max-width: 100%;
  margin: auto;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 4.5rem;
  position: fixed;
}

.nav-logo {
  display: flex;
  color: var(--accent-color);
  font-size: 2.25em;
  align-items: center;
}

.logo-title {
  font-family: "Petrona", serif;
  font-weight: 800;
  margin-left: 8px;
}

.add-notes {
  font-family: "Inter", sans-serif;
  background-color: var(--light-background);
  border: none;
  border-radius: 10px;
  color: var(--text-color);
  font-size: 1.15em;
  font-weight: 600;
  margin-bottom: 0.5em;
  padding: 14px 25px;
  width: auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-notes:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.container {
  padding-top: 100px;
  display: flex;
  max-height: 100vh;
}

.notes-sidebar {
  flex: none;
  background-color: var(--light-background);
  flex-shrink: 0;
  overflow-y: auto;
  border-radius: 0 20px;
  padding: 1em;
  width: 350px;
  height: 100vh;
}

.notes-list-item {
  cursor: pointer;
}

.notes-list-item_selected {
  padding: 10px;
  border-left: 4px solid var(--accent-color);
  border-radius: 10px;
  font-weight: 500;
}

.notes-sm-title {
  font-family: "Petrona";
  font-size: 1.4em;
  font-weight: 800;
  color: var(--accent-color);
}

.notes-sm-title,
.notes-sm-update {
  padding: 10px;
}

.notes-sm-body {
  padding: 0 10px;
  font-size: 1em;
  font-weight: 400;
  color: var(--text-color);
}

.notes-sm-update {
  color: var(--text-color);
  font-style: italic;
  text-align: right;
  font-size: 0.8em;
  font-weight: 400;
}

.note-view-main {
  display: flex;
  flex-direction: column;
  flex: auto;
  width: auto;
  padding: 0 4vw;
}

.note-title {
  font-family: "Petrona", serif;
  font-weight: 800;
  font-size: 2.5em;
  color: var(--accent-color);
  background-color: var(--light-background);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 100%;
}

.note-body {
  font-family: "Lato";
  color: var(--text-color);
  background-color: var(--light-background);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 100%;
  height: 400px;
  flex-grow: 1;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 2em;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 1em;
}

.note-btn-cluster {
  display: flex;
  justify-content: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

.save-note-btn {
  font-family: "Teko", sans-serif;
  background: var(--accent-color);
  border: none;
  border-radius: 9px;
  color: var(--night-black);
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 0.5em;
  padding: 0.15em 1em;
  width: auto;
}

.save-note-btn:hover {
  background: #809b42;
}

.delete-note-btn {
  background: none;
  border: 2px solid var(--slate-gray);
  border-radius: 9px;
  color: var(--slate-gray);
  cursor: pointer;
  font-size: 1.25em;
  font-weight: normal;
  margin-left: 1em;
  padding: 0.25em 0;
  width: 60px;
}
